<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202938428340-c8hjtqv2if09kng1g7f0qdd8oej6jf1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202938428340-c8hjtqv2if09kng1g7f0qdd8oej6jf1k</string>
	<key>API_KEY</key>
	<string>AIzaSyB8KPEx4wSaspEb6m7WNuXt5ME_-KD5as8</string>
	<key>GCM_SENDER_ID</key>
	<string>202938428340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>intern.tsp.myflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-77239</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-77239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202938428340:ios:fd9548f7fb1f2fc24de0e1</string>
</dict>
</plist>